[submodule "emacs/vendor/mark-multiple"]
	path = emacs/vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs/vendor/emacs-pry"]
	path = emacs/vendor/emacs-pry
	url = git@github.com:jacott/emacs-pry
[submodule "emacs/themes/emacs-color-theme-solarized"]
	path = emacs/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs/themes/color-theme-solarized"]
	path = emacs/themes/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
