[user]
	name = Filipe A Moreira
	email = code@filipeamoreira.com
[color]
	diff = auto
	status = auto
	branch = auto
	branch = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[github]
	user = filipeamoreira
[branch]
	autosetupmerge = true
[core]
	quotepath = false
	filemode = true
	excludesfile = /Users/guto/.gitignore
	autocrlf = input
	symlinks = true
[alias]
	# I like using the interactive mode to make complex commits
	ai = add --interactive
	# All the aliases relate to commits. Note that
	# they are grouped by common prefixes, so I don't
	# confuse what I want done by accident.
	c = commit
	# commit with a message
	cm = commit -m
	cma = commit -a -m
	# amending the previous commit
	ca = commit --amend
	caa = commit -a --amend -C HEAD

	# reset
	## soft resets
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	## hard resets
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard

	# shortcuts for commands
	s = status
	st = status
	d = diff
	a = add
	b = branch -a -v
	f = fetch
	r = reset
	p = push
	co = checkout
	ci = commit
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	l = log --date-order --date=iso --graph --full-history --all --pretty=format:'%x08%x09%C(red)%h %C(cyan)%ad%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08 %C(bold blue)%aN%C(reset)%C(bold yellow)%d %C(reset)%s'

[push]
	default = upstream
[merge]
	stat = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[help]
	autocorrect = 1
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[magit]
	hideCampaign = true
[partners]
	current = guto-lvs
