.DS_Store
.zeus.sock
.bundle
/emacs/persistence/
/.config/karabiner/automatic_backups/
/.config/configstore/update-notifier*
/emacs/elpa/**/**
/emacs/var/**/**
/emacs/straight/**/**
/emacs/init.elc
emacs/forge-database.sqlite
.config/emacs/.last-package*
.config/configstore/update-notifier-npm.json
.config/configstore/update-notifier-git-mob.json
/.config/yarn/**
/emacs/async-bytecomp.log
emacs/eln-cache/
.config/emacs/eln-cache/**/**
.config/emacs/var/**/**
.config/emacs/straight/**/**
.config/emacs/elpa/**/**
.config/emacs/init.elc
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/**/**
.config/emacs/async-bytecomp.log
.config/filezilla/recentservers.xml
.config/persistory/
