.DS_Store
.zeus.sock
.bundle
/emacs/persistence/
/.config/karabiner/automatic_backups/
/.config/configstore/update-notifier*
/emacs/elpa/**/**
/emacs/var/**/**
/emacs/straight/**/**
/emacs/init.elc
emacs/forge-database.sqlite
/emacs/.last-package-update-day
/.config/configstore/update-notifier-npm.json
/.config/configstore/update-notifier-git-mob.json
/.config/yarn/**
/emacs/async-bytecomp.log
emacs/eln-cache/
